.suggestionContainer {
    position: relative;
}

#suggestionList {
    height: 0px;
    margin: 0;
    display: inline;
    position: absolute;
    left: 0px;
}

#suggestionList li {
    padding: 5px;
    margin: 0;
    width: 400px;
    background-color: white;
    list-style-type: none;
}

#suggestionList li.selected {
    background-color: red;
}
